.sidebar-holder{
  width: 25%
}
.sidebar-category-box {
   margin-bottom: 50px;
  
}
.sidebar {
  margin-top: 80px;
  color: $text-color;
  font-size: $font-size-h4;
  line-height: $font-size-h4 + 4px;
  .caption-sidebar {
       font-weight: bold;
       cursor: pointer;
       color:rgba(000,000,000, 0.6);
       &:hover{
        color:#000;
       }
     }
}

.sidebar-list {
	display: none;
  li {
      list-style: none;
    a {
      font-size:$size-md;
    	color: $text-color;
    	text-decoration: none;
      cursor:pointer;
      &:hover{
        text-decoration: underline;
      }    
    }
  }
}  
@media (max-width:960px){
    .sidebar-holder{
      width: 100%;
      background:#ebebeb;
    }
    .sidebar-category-box {
      margin-bottom:0;
    }
    .sidebar {
      margin: 15px;
      display:flex;
      justify-content:center;
      .sidebar-category-box{
        padding:0 20px;
      }
    }
}