.sidebar-category-box {
   margin-bottom: 50px;
   .sidebar {
	color: $text-color;
	font-size: $font-size-h4;
	line-height: $font-size-h4 + 4px;
	  .caption-sidebar {
         font-weight: bold;
         cursor: pointer;
       }
    }
}

.sidebar-list {
	display: none;
       li {
   list-style: none;
        a {
	color: $text-color;
	text-decoration: none;
       }
    }
}  