$icomoon-font-path: "../fonts";

$icon-keyboard_arrow_down: "\e900";
$icon-cart: "\e902";
$icon-heart: "\e903";
$icon-logo: "\e905";
$icon-search: "\e906";
$icon-plus: "\e901";
$icon-add: "\e900";
$icon-facebook: "\ea90";
$icon-minus: "\ea0b";
$icon-arrow-right2: "\ea3c";
$icon-x: "\2613";
$icon-pinterest-p: "\e907";
$icon-twitter: "\e90c";
$icon-instagram2: "\e904";
$icon-google: "\e910";
$icon-keyboard_arrow_right:"\e954";
$icon-keyboard_arrow_left:"\e955";

@font-face {
  font-family: 'noski';
  src:  url('#{$icomoon-font-path}/noski.eot?6qk6mu');
  src:  url('#{$icomoon-font-path}/noski.eot?6qk6mu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/noski.ttf?6qk6mu') format('truetype'),
    url('#{$icomoon-font-path}/noski.woff?6qk6mu') format('woff'),
    url('#{$icomoon-font-path}/noski.svg?6qk6mu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'noski' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-keyboard_arrow_down:before {
  content: $icon-keyboard_arrow_down;
}
.icon-x:before {
  content: $icon-x;
}
.icon-plus:before {
  content: $icon-plus;
}
.icon-cart:before {
  content: $icon-cart;
}
.icon-heart:before {
  content: $icon-heart;
}
.icon-instagram2:before {
  content: $icon-instagram2;
}
.icon-logo:before {
  content: $icon-logo;
}
.icon-search:before {
  content: $icon-search;
}
.icon-pinterest-p:before {
  content: $icon-pinterest-p;
}
.icon-twitter:before {
  content: $icon-twitter;
}
.icon-google:before {
  content: $icon-google;
}
.icon-minus:before {
  content: $icon-minus;
}
.icon-arrow-right2:before {
  content: $icon-arrow-right2;
}
.icon-facebook:before {
  content: $icon-facebook;
}
.icon-keyboard_arrow_right:before {
  content: $icon-keyboard_arrow_right;
}
.icon-keyboard_arrow_left:before {
  content: $icon-keyboard_arrow_left;
}
