$brand-color:				#000;
$text-color:				$brand-color;
$body-bg:					#fff;
$text-inverse-color:		$body-bg;

$font-family-base:			'Microsoft PhagsPa', Helvetica, Tahoma, sans-serif !default;
$font-size-base:			19px;

$font-size-h1:            	48px;
$font-size-h2:            	32px;
$font-size-h3:            	24px;
$font-size-h4:            	18px;

$size-xxs:            	  	13px;
$size-xs:             	  	14px;
$size-s:              	  	16px;
$size-md:             	  	18px;
$size-md-lg:          	  	20px;
$size-l:              	  	24px;
$size-xl:             	  	36px;
$size-xxl:            	  	52px;

$headings-font-weight:    	700;