@font-face {
  font-family: 'Microsoft PhagsPa';
  src: url('../fonts/MicrosoftPhagsPa.eot');
  src: url('../fonts/MicrosoftPhagsPa.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MicrosoftPhagsPa.woff') format('woff'),
  url('../fonts/MicrosoftPhagsPa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}